.container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;

  transition: 0.2s;
}

.container:hover {
  background-color: var(--gray-500);
  color: var(--danger);
}