.header {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-700);
  height: 12.5rem;
}

.header > .logo {
  width: 7.87rem;
  margin: 4.5rem auto;
}

.header > .newTaskBox {
  display: flex;
  margin: -1.100rem auto 0 auto;
  width: 39.85rem;
  height: 3.375rem;
}

.header > .newTaskBox > input {
  width: 39.85rem;
  height: 3.375rem;
  
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  
  background-color: var(--gray-500);
  color: var(--gray-100);
  
  padding: 1rem;
  line-height: 140%;
}

.header > .newTaskBox > input:focus {
  border-color: var(--purple-dark);
  outline: none;
}

.header > .newTaskBox > button {
  display: flex;
  width: 5.625rem;
  margin-left: 0.5rem;
  padding: 1rem;
  
  border-radius: 8px;
  border: 1px solid var(--blue-dark);
  outline: none;
  
  background-color: var(--blue-dark);
  color: var(--gray-100);
  
  font-weight: bold;
  font-size: 0.875rem;

  transition: background-color 0.2s;
  
}

.header > .newTaskBox > button:hover {
  background-color: var(--blue);
}
.header > .newTaskBox > button:focus {
  border-color: var(--purple-dark);
}

.header > .newTaskBox > button > svg {
  margin-left: 3px;
}